name: Auto Deploy Pages & Version

on:
  push:
    branches: 
      - main
    paths:
      - '**.css'
      - '**.js'
      - '**.html'
      - 'manga-config.js'
      - '!pending-manga-updates.json'
      - '!version.txt'
      - '!sw.js'
      - '!updated-repo-list.txt'

permissions:
  contents: read
  pages: write
  id-token: write
  actions: write

jobs:
  deploy-pages:
    uses: ./.github/workflows/deploy-pages.yml
    secrets:
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}